.container{
    display: flex;
    flex-direction: column;
    background-image: url(./Hero/BookTopiaHeroBG.jpg);
    background-attachment: fixed;
}
body::-webkit-scrollbar {
    display: none;
}
.userReviewTag{
    text-align: center;
    font-size: 30px;
}